<% wrap_layout :layout do %>
  <div class="page-banner">
    <p><strong>The DfE technical guidance and its content is intended for internal use by the DfE community.</strong></p>
  </div>

  <%= yield %>
<% end %>
